--outdir=./out
--rootdir=/pnfs/des/persistent/smp/v2
--fermigrid

--image=/pnfs/des/persistent/smp/v2/20131209_SN-S1/r_27/SNp1_262220_SN-S1_tile20_r_27+fakeSN.fits.fz
--template=/pnfs/des/persistent/smp/v2/20150122_SN-S1/r_27/SNp1_401882_SN-S1_tile20_r_27+fakeSN.fits.fz

--imagepsf=/pnfs/des/persistent/smp/v2/20131209_SN-S1/r_27/SNp1_262220_SN-S1_tile20_r_27.psf
--templatepsf=/pnfs/des/persistent/smp/v2/20150122_SN-S1/r_27/SNp1_401882_SN-S1_tile20_r_27.psf

--imageweight=/pnfs/des/persistent/smp/v2/20131209_SN-S1/r_27/SNp1_262220_SN-S1_tile20_r_27+fakeSN.weight.fits.fz
--templateweight=/pnfs/des/persistent/smp/v2/20150122_SN-S1/r_27/SNp1_401882_SN-S1_tile20_r_27+fakeSN.weight.fits.fz

--imagexpix=757.748
--imageypix=1128.853

--templatexpix=793.0187
--templateypix=1114.373

--imagezpt=30.89
--templatezpt=32.21

--imagesky=1354.59
--templatesky=803.54

--imageskyerr=19.8
--templateskyerr=16.2

--stampsize=11